{% liquid
  assign id = section.id
  assign padding_bottom = section.settings.padding_bottom
  assign padding_top = section.settings.padding_top
  assign wrapper = 'announcement-bar-wrapper-' | append: id
%}

<style>
  .{{ wrapper }} {
    padding-top: {{ padding_top }}px;
    padding-bottom: {{ padding_bottom }}px;
    background-color: {{ section.settings.colors.settings.background }};
    border-bottom: 1px solid {{ section.settings.colors.settings.text |  color_modify: "alpha", 0.1 }};
    color: {{ section.settings.colors.settings.text }};
  }

  @media screen and (max-width:768px) {
    .{{ wrapper }} {
      padding-top: {{ padding_top | times: 0.75 }}px;
      padding-bottom: {{ padding_bottom | times: 0.75 }}px;
    }
  }
  splider-component.splide .splide__arrows .splide__arrow svg {
     color: {{ section.settings.colors.settings.text }};
  }
</style>

{% capture is_vertical %}
    {% if section.settings.direction == 'ttb' %}
      true
    {% else %}
      false
    {% endif %}
{% endcapture %}

{% capture splide_options %}
  {
    "type": "{{ section.settings.slide_type }}",
    "perPage": {{ section.settings.slide_per_page }},
    "pagination": false,
    "arrows": {{ section.settings.arrows }},
    {% if section.settings.autoplay %}
    "autoplay": "pause",
    {% endif %}
    "interval": {{ section.settings.autoplay_interval | times: 1000 }},
    "direction": "{{ section.settings.direction }}",
    {% if is_vertical %}
      "height": "{{ section.settings.height }}px"
    {% endif %}
  }
{% endcapture %}

{% capture sticky_classes %}
{% if section.settings.sticky %} sticky top-0 {% endif %}
{% endcapture %}

<div class='{{wrapper}} max-w-screen {{ sticky_classes }}'>
  <div class='announcement-bar'>
    <splider-component
      data-play-on-view
      data-options='{{ splide_options }}'
      class='splide'>
      <div class='splide__arrows {% if is_vertical %}!hidden{% endif %}'>
        <button class='splide__arrow splide__arrow--prev svg-wrapper'>
          {{ 'chevron-right.svg' | inline_asset_content }}
        </button>
        <button class='splide__arrow splide__arrow--next svg-wrapper'>
          {{ 'chevron-right.svg' | inline_asset_content }}
        </button>
      </div>
      <div class='splide__track'>
        <ul class='splide__list'>
          {% for block in section.blocks %}
            <li class='splide__slide flex items-center justify-center'>
              {{ block.settings.text | replace: '<p', '<p class="text-center"' }}
            </li>
          {% endfor %}
        </ul>
      </div>
    </splider-component>
  </div>
</div>

{% schema %}
{
  "name": "Announcement Bar",
  "class": "announcement-bar",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Slider settings"
    },
    {
      "type": "select",
      "id": "slide_type",
      "label": "Slider type",
      "options": [
        {
          "value": "loop",
          "label": "Loop"
        },
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "slide",
          "label": "Slide"
        }
      ]
    },
    {
      "type": "range",
      "id": "slide_per_page",
      "min": 1,
      "max": 10,
      "step": 1,
      "label": "Slide per page",
      "default": 1
    },
    {
      "type": "checkbox",
      "id": "arrows",
      "label": "Enable arrows",
      "default": true,
      "info": "Enables arrows button for navigation"
    },
    {
      "type": "checkbox",
      "id": "sticky",
      "label": "Sticky",
      "default": true,
      "info": "Sticks to top"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Enable Auto play",
      "default": false,
      "info": "Auto play the slides"
    },
    {
      "type": "range",
      "id": "autoplay_interval",
      "label": "Auto play duration",
      "min": 1,
      "max": 10,
      "default": 3,
      "step": 0.5,
      "unit": "sec"
    },
    {
      "type": "select",
      "id": "direction",
      "label": "Direction",
      "options": [
        {
          "value": "ltr",
          "label": "Horizontal"
        },
        {
          "value": "ttb",
          "label": "Vertical"
        }
      ]
    },
    {
      "type": "range",
      "id": "height",
      "min": 20,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Height",
      "info": "Works only Vertical direction is enabled.",
      "default": 20
    },
    {
      "type": "header",
      "content": "Padding settings"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Top Padding",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Bottom Padding",
      "default": 10
    },
    {
      "type": "color_scheme",
      "id": "colors",
      "label": "Color scheme",
      "default": "accent"
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "Announcement",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Announcement Bar"
    }
  ]
}
{% endschema %}
