{% comment %} <script src='{{ 'media-banner.js' | asset_url }}' defer></script> {% endcomment %}

{% liquid
  assign id = section.id
  assign padding_bottom = section.settings.padding_bottom
  assign padding_top = section.settings.padding_top
  assign wrapper = 'media-banner-wrapper-' | append: id
%}

<style>
  .{{ wrapper }} {
    padding-top: {{ padding_top }}px;
    padding-bottom: {{ padding_bottom }}px;
  }
  @media screen and (max-width:768px) {
    .{{ wrapper }} {
      padding-top: {{ padding_top | times: 0.75 | round }}px;
      padding-bottom: {{ padding_bottom | times: 0.75 | round }}px;
    }

  }
</style>

<div class='{{wrapper}}'>
  <div class='media-banner-wrapper stack-container'>
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'image' %}
          <div class='stack-item'>
            {% render 'image',
              _class: 'md:aspect-[16/9] object-cover aspect-[800/1200]',
              _desktop_image: block.settings.desktop_image,
              _mobile_image: block.settings.mobile_image
            %}
          </div>

        {% when 'text' %}
          <style>
            .{{ wrapper }} .text-wrapper {
              font-size: {{ block.settings.text_size_desktop }}px;
              color: {{ block.settings.text_color }}
            }
            @media screen and (max-width:768px) {
              .{{ wrapper }} .text-wrapper{
                font-size: {{ block.settings.text_size_mobile }}px;
              }
            }
          </style>
          <div
            class='stack-item text-wrapper flex {{ block.settings.position }}'>
            {{ block.settings.text | replace: '<p', '<p class="text-center"' }}
          </div>

        {% when 'overlay' %}
          <div
            style='background:{{ block.settings.background }};'
            class='stack-item h-full w-full'></div>

        {% when 'video' %}
          <div class='stack-item'>
            {% render 'video',
              _video: block.settings.video,
              _height: block.settings.video_height,
              _autoplay: block.settings.autoplay,
              _controls: block.settings.controls,
              _loop: block.settings.loop,
              _muted: block.settings.muted
            %}
          </div>

        {% when 'video_url' %}
          <div class='stack-item'>
            {% render 'video-external',
              _video_url: block.settings.video_url,
              _autoplay: block.settings.autoplay,
              _loop: block.settings.loop,
              _muted: block.settings.muted,
              _height: block.settings.height,
              _max_width: block.settings.width,
              _aspect_ratio: block.settings.aspect_ratio
            %}
          </div>
      {% endcase %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Media banner",
  "class": "media-banner",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Padding settings"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Top Padding",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Bottom Padding",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        { "type": "header", "content": "Image" },
        {
          "type": "image_picker",
          "id": "desktop_image",
          "label": "Desktop",
          "info": "3840 x 2160 is recommended"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile",
          "info": "800 x 1200 is recommended"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Content"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Url"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text color"
        },
        { "type": "header", "content": "Font size" },
        { "type": "number", "label": "Desktop", "id": "text_size_desktop", "default": 52 },
        { "type": "number", "label": "Mobile", "id": "text_size_mobile", "default": 32 },
        {
          "type": "select",
          "id": "position",
          "label": "Position",
          "options": [
            {
              "label": "Top Left",
              "value": "top-left"
            },
            {
              "label": "Top Center",
              "value": "top-center"
            },
            {
              "label": "Top Right",
              "value": "top-right"
            },
            {
              "label": "Center Left",
              "value": "center-left"
            },
            {
              "label": "Center Center",
              "value": "center-center"
            },
            {
              "label": "Center Right",
              "value": "center-right"
            },
            {
              "label": "Bottom Left",
              "value": "bottom-left"
            },
            {
              "label": "Bottom Center",
              "value": "bottom-center"
            },
            {
              "label": "Bottom Right",
              "value": "bottom-right"
            }
          ]
        }
      ]
    },
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "type": "video",
          "id": "video",
          "label": "Video"
        },
        {
          "type": "text",
          "id": "video_height",
          "label": "Height (px)",
          "default": "auto",
          "info": "use 'auto' if auto-fit is needed."
        },
        {
          "type": "checkbox",
          "id": "autoplay",
          "label": "Autoplay",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "loop",
          "label": "Loop",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "muted",
          "label": "Muted",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "controls",
          "label": "Show Controls",
          "default": false
        }
      ]
    },
    {
      "name": "External Video",
      "type": "video_url",
      "settings": [
        {
          "type": "video_url",
          "id": "video_url",
          "label": "Video URL",
          "accept": ["youtube", "vimeo"]
        },
        {
          "type": "checkbox",
          "id": "autoplay",
          "label": "Autoplay",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "loop",
          "label": "Loop",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "muted",
          "label": "Muted",
          "default": false
        },
        { "type": "number", "id": "height", "label": "Height", "default": 700 },
        { "type": "text", "id": "width", "label": "Width", "default": "100%" },
        { "type": "text", "id": "aspect_ratio", "label": "Aspect ratio", "default": "1280/720" }
      ]
    },
    {
      "type": "overlay",
      "name": "Overlay",
      "settings": [
        {
          "type": "color_background",
          "id": "background",
          "label": "Overlay"
        }
      ]
    }
  ],
  "presets": [{ "name": "Media banner" }]
}
{% endschema %}
